
body {
  /*margin: 0;*/
  font-family: Arial, sans-serif;
}

.main-content {
  margin-left: 9.55%;
  margin-top: -1.45%;
  margin-right: -0.46%;

  /*width: 100%;*/
  /*height: 100%;*/
  /*padding: 20px;*/


}
