<div class="sidenav">
  <a routerLink="/ride">Ride</a>
  <a routerLink="/login">Login</a>
</div>

<div *ngIf="userRole === 'REGISTERED_USER'" class="sidenav">
  <a routerLink="/profile">Profile</a>
  <a routerLink="/order-ride">Order ride</a>
  <a routerLink="/ride-history">Ride history</a>
  <a routerLink="/support">Support</a>
  <a href="#" (click)="logout()">Logout</a>
</div>


<div *ngIf="userRole === 'ADMINISTRATOR'" class="sidenav">
  <a href=""> adminileeee </a>
  <a href=""> Profile </a>


</div>

<div *ngIf="userRole === 'DRIVER'" class="sidenav">
  <a href=""> Profile </a>
  <a href=""> Ride history </a>
  <a href=""> Support </a>


</div>
