<div class="container">
  <form (ngSubmit)="submitOptions()" class="form-container">
    <div class="form-group">
      <label for="start" class="label">Start:</label>
      <input id="start" [(ngModel)]="startPoint" name="start" required class="input">
    </div>

    <div class="form-group">
      <label for="end" class="label">End:</label>
      <input id="end" [(ngModel)]="endPoint" name="end" required class="input">
    </div>

    <div class="form-group">
      <label for="waypoints" class="label">Waypoints (separirani zarezom):</label>
      <input id="waypoints" [(ngModel)]="waypointsString" name="waypoints" class="input" placeholder="e.g., puskinova 22, puskinova 4">
    </div>


    <div class="form-group">
      <label for="vehicleType" class="label">Vehicle Type:</label>
      <select id="vehicleType" [(ngModel)]="selectedVehicleType" name="vehicleType" class="input">
        <option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="driver" class="label">Select Driver:</label>-->
<!--      <select id="driver" [(ngModel)]="selectedDriver" name="driver" class="input">-->
<!--        <option *ngFor="let driver of drivers" [value]="driver.id">-->
<!--          <img [src]="driver.image" alt="Driver Image" class="driver-image">-->
<!--          {{ driver.firstname }} {{ driver.lastname }} - {{ driver.rating }}-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->

    <div class="form-group">
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="allowPets" name="allowPets" class="checkbox">
        Allow Pets
      </label>
    </div>

    <div class="form-group">
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="allowBabies" name="allowBabies" class="checkbox">
        Allow Babies
      </label>
    </div>

    <div class="form-group">
      <label for="splitFare" class="label">Split Fare Emails:</label>
      <input id="splitFare" [(ngModel)]="splitFareEmails" name="splitFareEmails" class="input">
    </div>

    <button type="submit" class="btn">Submit</button>

  </form>

  <app-map class="map"></app-map>
</div>
