<div *ngIf="user" class="profile-container">
  <h1>Profil Korisnika</h1>

  <div class="form-group">
    <label for="firstname">Ime:</label>
    <input id="firstname" [(ngModel)]="user.firstname" [readonly]="!isEditing" type="text" />
  </div>

  <div class="form-group">
    <label for="lastname">Prezime:</label>
    <input id="lastname" [(ngModel)]="user.lastname" [readonly]="!isEditing" type="text" />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="user.email" [readonly]="!isEditing" type="email" />
  </div>

  <div class="form-group">
    <label for="profilePicture">Profilna slika:</label>
    <input type="file" id="profilePicture" (change)="onFileSelected($event)" [disabled]="!isEditing" />
  </div>

  <div *ngIf="user.profilePicture">
    <img [src]="user.profilePicture" alt="Profilna slika" />
  </div>

  <button *ngIf="!isEditing" (click)="enableEditing()">Uredi</button>

  <button *ngIf="isEditing" (click)="saveChanges()">Sačuvaj</button>

  <button *ngIf="isEditing" (click)="cancelEditing()">Otkaži</button>
</div>

<div *ngIf="!user" class="profile-container">
  <p>Nemate prijavljene korisnike.</p>
</div>
