<div class="login-container">
  <h2>Reset Password</h2>

  <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <div class="form-group">
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        class="form-control"
        placeholder="Email: "
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>


    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
