<div class="container">
  <h1 mat-dialog-title>Review Your Order</h1>
  <div mat-dialog-content>
    <p><strong>Start:</strong> {{ data.start }}</p>
    <p><strong>End:</strong> {{ data.end }}</p>
    <p><strong>Waypoints:</strong> {{ data.waypoints.join(', ') }}</p>
    <p><strong>Vehicle Type:</strong> {{ data.vehicleType }}</p>
    <p><strong>Allow Pets:</strong> {{ data.allowPets ? 'Yes' : 'No' }}</p>
    <p><strong>Allow Babies:</strong> {{ data.allowBabies ? 'Yes' : 'No' }}</p>
    <p><strong>Split Fare Emails:</strong> {{ data.splitFareEmails.join(', ') }}</p>

    <div class="form-group">
      <label for="driver" class="label">Select Driver:</label>
      <select id="driver" [(ngModel)]="selectedDriver" name="driver" class="input">
        <option *ngFor="let driver of drivers" [value]="driver.id">
          <img [src]="driver.image" alt="Driver Image" class="driver-image">
          {{ driver.firstname }} {{ driver.lastname }} - {{ driver.rating }}
        </option>
      </select>
    </div>


    <p><strong>Distance:</strong> {{ data.distance }} meters</p> <!-- Prikaz distance -->
    <p><strong>Price:</strong> {{ data.price }} RSD</p> <!-- Prikaz cene -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel Ride</button>
    <button mat-button color="primary" (click)="onConfirm()">Pay Ride</button>
  </div>
</div>
