
.container {
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 20px;
  padding: 15px;
  width: 70%;
  border-radius: 25px;
  font-size: 16px;
}

button {
  padding: 15px;
  width: 35%;
  border-radius: 25px;
  background-color: white;
  font-size: 16px;
}

